@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-10 {
  backdrop-filter: blur(10px);
}

.gradient-primary {
  background: #27bec2;
  background: linear-gradient(168deg, #27bec2 0%, #009688 100%);
}

/* 
///////////////////////////////////////////////////////////////////////////////
Calendar
///////////////////////////////////////////////////////////////////////////////
*/

.fc-theme-standard .fc-scrollgrid {
  @apply border-0;
}

.fc-theme-standard td:nth-last-child(1) {
  @apply border-r-0;
}

.fc-theme-standard .fc-col-header th {
  @apply border-l-0 border-r-0 border-gray-200 bg-gray-50;
}

.fc-toolbar-chunk {
  @apply flex items-center;
}

.fc .fc-timegrid-slot-minor {
  border: none;
}

.fc .fc-timegrid-slot-label {
  @apply text-xs;
}

.fc .fc-timegrid-slot-label-cushion {
  @apply pl-4 pr-2;
}

/* 
Toolbar
*/

.fc .fc-toolbar {
  @apply flex-col items-start;
}

.fc .fc-toolbar > :nth-child(2) {
  @apply order-first;
}

.fc .fc-toolbar > :not(template) + :not(template) {
  @apply my-2;
}

@screen sm {
  .fc .fc-toolbar {
    @apply flex-row items-center;
  }

  .fc .fc-toolbar > :nth-child(2) {
    @apply order-none;
  }

  .fc .fc-toolbar > :not(template) + :not(template) {
    @apply mt-0;
  }
}

.fc .fc-toolbar.fc-header-toolbar {
  @apply px-4 py-2 mb-0;
}

@screen sm {
  .fc .fc-toolbar.fc-header-toolbar {
    @apply px-6;
  }
}

@screen lg {
  .fc .fc-toolbar.fc-header-toolbar {
    @apply px-8;
  }
}

/* 
Title
 */

.fc .fc-toolbar-title {
  @apply text-xl font-bold capitalize;
}

/* 
Button
 */

.fc .fc-button {
  @apply relative inline-flex items-center px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition duration-150 ease-in-out bg-white border border-gray-300 rounded-l-md;
}

.fc .fc-button:hover {
  @apply text-gray-500;
}

.fc .fc-button:focus {
  @apply z-10 border-blue-300 outline-none shadow-outline-blue;
}

.fc .fc-button:active {
  @apply text-gray-700 bg-gray-100;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply text-gray-700 bg-gray-100 border-gray-300;
}

.fc .fc-button-primary:hover {
  @apply text-gray-500 bg-white border-gray-300;
}

.fc .fc-button-group > .fc-button:hover,
.fc .fc-button-group > .fc-button:focus,
.fc .fc-button-group > .fc-button:active,
.fc .fc-button-group > .fc-button.fc-button-active {
  @apply z-auto;
}

.fc .fc-button-group > .fc-button:focus {
  @apply z-10;
}

.fc .fc-button-primary:disabled {
  @apply text-gray-400 bg-white border-gray-300;
}

/* 
Events
 */

.event-appointment {
  background-color: theme('colors.primary.600');
  border-color: theme('colors.primary.700');
}
.event-private {
  background-color: theme('colors.gray.400');
  border-color: theme('colors.gray.500');
  color: theme('colors.gray.900');
}
.event-cancel {
  /* background-color: #c2272f;
  border-color: #c2272f;
  color: #c2272f; */
  background-color: gray;
  border-color: gray;
  color: #FAFAFA;
}

.event-online {
  background-color: theme('colors.primary.600');
  border-color: theme('colors.primary.700');
  color: #FAFAFA;
}

.event-inperson {
  background-color: #3150db;
  border-color: #3150db;
  color: #FAFAFA;
}

.event-other {
  background-color: theme('colors.linen.500');
}

.boldo-event {
  @apply cursor-pointer;
}

.fc-media-screen .fc-timegrid-event {
  min-height: 23px;
  min-width: 50px;
}

.max-height-60 {
  max-height: 60vh;
}

/* Class of the Study Order Text */
.text-clip div {
  width: 14rem;
  position: absolute;
  clip-path: inset(0 0 0 100%);
  transition: all 0.5s;
}

.text-clip:hover div {
  clip-path: inset(0 0 0 0);
}

.text-clip {
  position: relative;
  width: 2.625rem;
  transition: width 0.5s ;
}

.text-clip:hover {
  width: 14.375rem;
}
/* End Class of the Study Order Text */

/* Scrollbard Class */

.scrollbar{
  scrollbar-width: thin;
  scrollbar-color: #A0AEC0 #E5E7EB;
}

.scrollbar:hover {
  scrollbar-width: thin;
  scrollbar-color: #13a5a9 #E5E7EB;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #E5E7EB;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #A0AEC0;
  border-radius: 100vh;
  border: 3px solid rgb(255, 255, 255, 0.7);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #13a5a9;
}
/* end scrollbard class*/